<style>
  .container {
        margin-top: 25px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    NYC Train Stations
  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <p>
      Thanks for using our NYC train app here are the prople who made this app possible:
    </p>
    <div class="" style="width: 300px;">
      <ul>
        <li>
          Rullin Wang
        </li>
        <li>
          Pavel Beliaved
        </li>
        <li>
          Claudio Saillant
        </li>
        <li>
          Atai Nail
        </li>
      </ul>
    </div>
  </div>
</div>