<style>
  .jumbotron * {
    text-align: center;
  }

  .jumbotron,
  nav {
    background-color: #FFA500;
  }

  body {
    background-color: blue;
   
  }

  img {
    width: 100%;
    height:400px;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light animate__animated animate__bounce">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">
    NYC Train Stations
  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    <li class="nav-item active"><a class="nav-link" href="https://new.mta.info/map/7551" target="_blank">Map</a></li>
      <li class="nav-item active">
        <a class="nav-link" href="/login">
          Log In
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/signup">
          Sign Up
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/credits">
          Credits
        </a>
      </li>
      {{! <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li> }}
    </ul>
  </div>
</nav>
<marquee behavior="scroll" direction="left" scrollamount="4">Welcome to the NYC train app, have a secure trip! 111 </marquee>

<div class="container" style="margin-top: 25px;">
  <div class="col">
    <img
      src="https://media.kasperskydaily.com/wp-content/uploads/sites/92/2015/12/06023356/train-hack-featured-1.jpg"
      alt="">

  </div>
  <div class="jumbotron col">
    <h1 class="display-4 animate__animated animate__bounceInDown">
      Welcome NYC stations app!
    </h1>
    <p class="lead animate__animated animate__bounceInDown">
      A different way to get to the best station so you can easily get to your destination
    </p>
    <hr class="my-4" />
    <h2 class="animate__animated animate__bounceInDown" id="jumbotitle">Start seaching for stations today!</h2>
  </div>

  <div class="jumbotron">
    <h1 class="display-4 animate__animated animate__bounceInDown">
      Guideline to take any train.
    </h1>
    <p class="lead animate__animated animate__bounceInDown">
      Make sure to follow these on every station.
    </p>
    <hr class="my-4" />
    <ul>
      <li>If you drop something on the trackway, do not attempt to retrieve it. Instead use the platform intercom to
        request assistance.</li>
      <li>There is a crawl area underneath the platform that may provide some protection in the event of an accidental
        fall onto the track.</li>
      <li>Never run after or next to a moving train.</li>
      <li>Don’t play near trains or tracks; pushing and shoving can cause accidents.</li>
      <li>Never climb railroad vehicles or walk on the tracks.</li>
      <li>Always stand away from the edge of platform and never sit on the platform edge.</li>
      <li>Don’t skate or ride your bike on the platform, stairs or escalators.</li>
      <li>Hold on to your child when a train approaches.</li>
      <li>Wait for the vehicle to stop before approaching.</li>
      <li>Wait for exiting passengers to leave, then board.</li>
      <li>Watch your step, especially at night or in wet weather.</li>
      <li>Watch the gap between the platform and train.</li>
      <li>Take a seat if possible; use handrails/handholds.</li>
      <li>Don’t lean against train doors; keep hands clear.</li>
      <li>Be ready to exit when you arrive at your stop.</li>
      <li>Step away after exiting.</li>
    </ul>



  </div>

</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript">
  //.dropbtn dropdown button
  $('#stations').on("click", function (event) {
    console.log("Clicked");
    location.href = "/stations"

  });
</script>
